h1 {
    color:orangered;
    font-family: "Lucida Console", "Courier New", monospace;
}

p {
    color: honeydew;
}

h2 {
    color: honeydew;
    font-family: "Lucida Console", "Courier New", monospace;
}


h4{
    color:orangered;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
}

h5{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
    color:orangered;
}

p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: large;
}

